{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

  <main class="mainContent" role="main">
    <header class="pageHeader">
      {{navigation}}
      <div class="vline"></div>
    </header>

    <article class="post {{post_class}}">
      {{#if @page.show_title_and_feature_image}}
        <h1 class="postTitle" itemprop="headline">{{title}}</h1>
        {{#if feature_image}}
          <div
            class="postCover"
            style="background-image:url('{{img_url feature_image}}')"
          ></div>
        {{/if}}
      {{/if}}
      <section class="post-content postContent">
        {{content}}
      </section>
    </article>
  </main>

{{/post}}
